# *args, **kwargs

In [2]:
# calculate area of rectangle

In [8]:
def area_of_rect(l,b):
    aor=l*b
    print("Area of rectangle=",aor)

In [9]:
area_of_rect(3,4)

Area of rectangle= 12

In [10]:
area_of_rect(10,30)

Area of rectangle= 300

In [11]:
# *args

In [12]:
# sum of all  value present in aparameter

In [13]:
def cal_sum(*args):
    sum=0
    for i in args:
        sum=sum+i
    return f"sum of all values={sum}"

In [16]:
def cal_sum(*args):
    sum=0
    for i in args:
        sum=sum+i #
    return f"sum of all values={sum}"

In [17]:
cal_sum(2,3,4)

'sum of all values=9'

In [18]:
cal_sum(4,5,6,7,12,34,67)

'sum of all values=135'

In [20]:
lst=[4,5,6,7.10,20,30,40,50]

In [21]:
# list unpacking
cal_sum(*lst)

'sum of all values=162.1'

In [22]:
# **kwargs

In [23]:
def display_data(**kwargs): #{"key":"values"}
    print(f"values: {kwargs}")

In [24]:
display_data(name="prashant",age=21,salary=20000)

values: {'name': 'prashant', 'age': 21, 'salary': 20000}

In [25]:
values:{'name':'prashant','age':21,'salary':20000}

In [40]:
menu={
    "pizza":250,
    "maggie":50,
    "noodles":150,
    "burger":70,
    "coffee":50,
    "tea":20
}

In [27]:
menu.keys()

dict_keys(['pizza', 'maggie', 'noodles', 'burgers'])

In [28]:
menu.values()

dict_values([250, 50, 150, 70])

In [29]:
menu.get("pizza")

250

In [ ]:
menu.get("burger")

70

In [34]:
# perform billing for a restaurent

In [35]:
def display_data(**kwargs): #{"key":"values"}
    print(f"values: {kwargs}")

In [52]:
def restaurent_billing(**kwargs):
    bill=0
    for food,qty in kwargs.items():
        amt=menu.get(food)*qty
        bill=bill+amt
        print(f"Food:{food},Quntity:{qty},amount:{amt}")
    return f"Total bill={bill}"

In [53]:
restaurent_billing(burger=2,coffee=3,tea=3)

Food:burger,Quntity:2,amount:140
Food:coffee,Quntity:3,amount:150
Food:tea,Quntity:3,amount:60

'Total bill=350'

In [54]:
# GENERATOR FUNCTION

In [56]:
# 0,1,1,2,3,5,8,13,21

In [59]:
# while
# 1)initialization
# 2)condition checking
# 3)increment / decrement
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [60]:
i=1
sum=0
while i<=10:
    sum=sum+1
    i=i+1

In [62]:
sum

10

In [63]:
# print table of any number using while loop

In [68]:
i=1
n=int(input("Enter a number"))
while i<=10:
    print(n*i)
    i=i+1

4
8
12
16
20
24
28
32
36
40

In [ ]:
def fabb_number()